<!-- start top header -->
<div class="header">
  <div class="top-header d-md-block d-none py-2">
    <div class="container ms-auto me-auto">
      <div class="d-flex justify-content-between align-items-center">
        <div class="col-6">
          <div class="d-flex align-items-center">
            <div class="language me-4">
              <div class="dropdown">
                <button
                  class="btn border-0 p-0"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  English
                  <span class="ps-2"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <ul
                  class="shadow dropdown-menu p-0 border-0 rounded-0 position-absolute"
                >
                  <li class="ms-2 me-2 py-2 text-center">
                    <a class="dropdown-item pt-2 pb-2 ps-1 pe-0" href="#">
                      English
                    </a>
                  </li>
                  <li class="ms-2 me-2 py-2 text-center">
                    <a class="dropdown-item pt-2 pb-2 ps-1 pe-0" href="#">
                      Arabic</a
                    >
                  </li>
                  <li class="ms-2 me-2 py-2 text-center">
                    <a class="dropdown-item pt-2 pb-2 ps-1 pe-0" href="#">
                      Spanish
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="language">
              <div class="dropdown">
                <button
                  class="btn border-0 p-0"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  USD
                  <span class="ps-2"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <ul
                  class="dropdown-menu p-0 border-0 rounded-0 position-absolute"
                >
                  <li class="ms-2 me-2 py-2 text-center">
                    <a class="dropdown-item pt-2 pb-2 ps-1 pe-0" href="#">
                      USD
                    </a>
                  </li>
                  <li class="ms-2 me-2 py-2 text-center">
                    <a class="dropdown-item pt-2 pb-2 ps-1 pe-0" href="#">
                      AUD
                    </a>
                  </li>
                  <li class="ms-2 me-2 py-2 text-center">
                    <a class="dropdown-item pt-2 pb-2 ps-1 pe-0" href="#">
                      EUR
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="link">
            <ul
              class="p-0 shadow d-flex justify-content-end align-items-center"
            >
              <li class="mx-2"><a href="#"> FAQS</a></li>
              <li class="mx-2"><a href="#"> Join Us </a></li>
              <li class="mx-2"><a href="#"> Sign In</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="header-navbar container ms-auto me-auto d-flex justify-content-between align-items-center w-100 py-2"
  >
    <div class="logo my-md-4 my-3 ms-lg-0 ms-3">
      <img src="../assets/imgs/header/logo.png" alt="" />
    </div>
    <div class="links d-lg-block d-none">
      <ul
        class="d-flex justify-content-center align-items-center me-auto ms-auto"
      >
        <li class="nav-item">
          <a
            class="nav-link px-2 py-1"
            aria-current="page"
            routerLink="home"
            routerLinkActive="bg-danger rounded-3 text-white"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-2 py-1"
            aria-current="page"
            routerLink="shop"
            routerLinkActive="bg-danger rounded-3 text-white"
            >Shop
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-2 py-1"
            aria-current="page"
            routerLink="blog"
            routerLinkActive="bg-danger rounded-3 text-white"
            >Blog
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-2 py-1"
            aria-current="page"
            routerLink="contact"
            routerLinkActive="bg-danger rounded-3 text-white"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
    <div class="action">
      <ul
        class="p-0 d-flex justify-content-center align-items-center me-auto ms-auto"
      >
        <li class="nav-item">
          <div
            class="mobile-toggle d-flex justify-content-end d-md-none d-block"
          >
            <a
              href="a"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasResponsive"
            >
              <i class="fa-fw fa-solid fa-bars-staggered"></i>
            </a>
          </div>
        </li>
        <li class="nav-item d-md-block d-none">
          <a class="nav-link open-modal" href="#"
            ><i class="fa-fw fa-solid fa-magnifying-glass"></i
          ></a>
        </li>
        <li class="nav-item d-md-block d-none">
          <a class="nav-link" href=""
            ><i class="fa-fw fa-regular fa-heart"></i
          ></a>
        </li>
        <li class="nav-item d-md-block d-none">
          <a class="nav-link position-relative" href="#"
            ><i class="fa-fw fa-solid fa-cart-shopping"></i>
          </a>
          <div class="cart-item position-absolute">0</div>
        </li>
        <li class="nav-item d-md-block d-none">
          <a class="nav-link" href="#"
            ><i class="fa-fw fa-regular fa-user"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header justify-content-end">
      <button
        type="button"
        class="btn-close m-0 p-0"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div class="link">
        <ul class="p-0 d-flex justify-content-center align-items-center">
          <li class="mx-md-3 mx-2"><a href="#"> FAQS</a></li>
          <li class="mx-md-3 mx-2"><a href="#"> Join Us </a></li>
          <li class="mx-md-3 mx-2"><a href="#"> Sign In</a></li>
        </ul>
      </div>
      <div class="icon mt-3">
        <ul class="p-0 d-flex justify-content-center align-items-center">
          <li class="nav-item mx-3">
            <a class="nav-link open" href="#"
              ><i class="fa-fw fa-solid fa-magnifying-glass"></i
            ></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href=""
              ><i class="fa-fw fa-regular fa-heart"></i
            ></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#"
              ><i class="fa-fw fa-solid fa-cart-shopping"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="links mt-5">
        <ul
          class="ps-3 d-flex flex-column justify-content-sm-start align-items-start"
        >
          <li class="nav-item mb-3">
            <a class="nav-link px-2 py-1" aria-current="page" routerLink="home"
              >Home</a
            >
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link px-2 py-1" aria-current="page" routerLink="shop"
              >Shop
            </a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link px-2 py-1" aria-current="page" routerLink="blog"
              >Blog
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              class="nav-link px-2 py-1"
              aria-current="page"
              routerLink="contact"
              >Contacts</a
            >
          </li>
        </ul>
      </div>
      <p class="mt-5">Free shipping, 30-day return or refund guarantee.</p>
    </div>
  </div>
</div>
