@import "../../../assets/scss/vars.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/glubal-rules.scss";

.header {
  .top-header {
    background-color: #111111;
    .language {
      .dropdown {
        button {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: $white;
          svg {
            font-size: 14px;
          }
        }
        ul {
          min-width: 8rem !important;
          transform: translate(-36px, 26px) !important;

          a {
            font-size: 14px;
            font-weight: 600;
            color: $black;
            border-radius: 6px;
            &:hover {
              background-color: $main-color;
              color: $white;
              transition: 0.4s;
            }
          }
        }
      }
    }
    .link {
      a {
        color: $white;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.3s;
        padding: 5px 10px;
        border-radius: 5px;
        &:hover {
          color: $white;
          background-color: $main-color;
        }
      }
    }
  }
  .header-navbar {
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    .logo {
      @include mdwidth {
        width: 147px;
      }
    }
    .links {
      .nav-item {
        position: relative;
        margin: 0 15px;
        a {
          font-size: 18px;
          color: #111111;
          &:hover {
            background-color: #dc3545;
            color: $white;
            border-radius: 0.5rem;
          }
        }
      }
      .dropdown-menu {
        background-color: #111111;
        transform: translate(-39px, 37px) !important;
        li {
          a {
            color: $white;
            font-size: 15px;
          }
        }
      }
      .active {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: $main-color;
          transform: scale(1, 1);
        }
      }
    }
    .action {
      .mobile-toggle {
        svg {
          color: #111111;
        }
      }
      li {
        position: relative;
        margin: 0 15px;
        z-index: 1;
        a {
          font-size: 22px;
          color: #777777;
          font-weight: 100;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s;
          &:hover {
            color: #111111;
          }
        }

        .cart-item {
          top: -13px;
          right: -11px;
          color: $white;
          background-color: $main-color;
          border-radius: 50%;
          font-size: 13px;
          height: 20px;
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .offcanvas {
    width: 50%;
    @include smwidth {
      width: 70%;
    }
    .offcanvas-header {
      height: 30px;
      .btn-close {
        width: 30px;
        height: 30px;
      }
    }
    .offcanvas-body {
      .link {
        ul {
          a {
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 600;
            color: $black;
            text-transform: uppercase;
          }
        }
      }
      .links {
        a {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
