@import "../../../../../assets/scss/vars.scss";
@import "../../../../../assets/scss/mixins.scss";
@import "../../../../../assets/scss/glubal-rules.scss";
.instagram {
  margin-bottom: 100px;
  @include smwidth {
    margin-bottom: 30px;
  }
  .col,
  img {
    @media (max-width: 400px) {
      width: 100%;
    }
  }
  .insta-text {
    padding: 100px 0;
    @media (min-width: 767px) and (max-width: 1200px) {
      padding: 60px 0;
    }
    @include smwidth {
      padding: 30px 0;
    }
    h1 {
      font-size: 40px;
      font-weight: 700;
      color: $black;
      margin-bottom: 40px;
    }
    p {
      font-size: 14px;
      line-height: 2;
      color: $black;
      font-weight: 400;
    }
    h2 {
      margin-top: 70px;
      color: $main-color;
      font-size: 35px;
      font-weight: 700;
    }
  }
}
