<!-- start contacts -->
<div class="contacts">
  <div class="contact-info pt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h6>INFORMATION</h6>
          <h1>Contact Us</h1>
          <p class="mb-5">
            As you might expect of a company that began as a high-end interiors
            contractor, <br />
            we pay strict attention.
          </p>
          <ul>
            <li class="mb-4">
              <h5>America</h5>
              <p>
                195 E Parker Square Dr, Parker, CO 801 <br />
                +43 982-314-0958
              </p>
            </li>
            <li>
              <h5>France</h5>
              <p>
                109 Avenue Léon, 63 Clermont-Ferrand <br />
                +12 345-423-9893
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="d-flex flex-wrap">
            <div class="col-md-6 col-12 px-lg-0 px-2">
              <input
                type="text"
                class="form-control shadow-none border rounded-0"
                placeholder="Name"
              />
            </div>
            <div class="col-md-6 col-12 px-lg-0 px-2">
              <input
                type="email"
                class="form-control shadow-none border rounded-0"
                placeholder="Email"
              />
            </div>
            <div class="col-12 px-lg-0 px-2">
              <textarea placeholder="Message"></textarea>
              <button class="btn rounded-0">SEND MESSAGE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end  contacts -->
