<section class="page_404">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-10 col-offset-2 text-center mx-auto">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>
          <div class="content_box_404">
            <h3 class="h2">Looks Like You're Lost</h3>
            <p>The page you are looking for not available</p>
            <a routerLink="/home">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
